<div>
<h2><%= schedule.title %><h2>
<h4><%= schedule.createdAt %><h4>
<a href="/schedules/<%= schedule.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', 
  {url: `/schedules/${schedule.id}`}) %>
</div>
<div>Entry</div>
<div>
  <%= schedule.entry %>
</div>


